mixin footer()
    footer.footer
        .footer__nav
            .container
                .row
                    .col-12.col-md-10.offset-md-1
                        include ../components/nav.pug
        .container
            .row
                .col-12.col-md-10.offset-md-1
                    .footer__block
                        .footer__copy
                            a(href="#") &copy; 2019 Все права защищены
                        .footer__privacy
                            a(href="#") Политика конфиденциальности
