- var classes = ['--white', 'js-popup'];
include app-button.pug

.container
    .banner
        .banner__descr
            h2 Каждый 7-й день <br>
                b бесплатно!
            p Акция действует при размещении в номерах “Люкс” и “Супер-Люкс”
            +app-button(classes)
