form#info.form
    button.form__close.close.js-close-popup
        include ../../images/icons/close.svg
    legend.form__title Спасибо за заявку!
    p Мы свяжемся с вами в ближайшее время
    button.app-button.--small.--orange.form__button
        span Ок
        include ../../images/icons/paw.svg