nav.nav.d-flex.justify-content-between.align-items-center
    a.nav__logo(href="#" target="_blank")
        include ../../images/icons/logo.svg
    ul.nav__menu
        li.nav__item
            a.nav__link(href="index.html#why") Почему мы?
        li.nav__item
            a.nav__link(href="index.html#rooms") Номера
        li.nav__item
            a.nav__link(href="index.html#reviews") Отзывы
        li.nav__item
            a.nav__link(href="index.html#contacts") Как нас найти
    .nav-button.js-nav-button
        span.nav-button__line
        span.nav-button__line.--short