- var classes = ['--white', 'js-popup'];
include app-button.pug
section.promo
    .container
        .row
            .col-6.col-md-4.offset-lg-1
                .promo__city
                    span Санкт-Петербург
                .promo__title
                    h1 Котейка
                .promo__text
                    p Уютная гостиница для котов и кошек
                +app-button(classes)
                 

